/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Styles for register page*/
#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-label {
    width: 280px;
    text-align: left;
}

.register-btn {
    margin-top: 24px;
    width: 280px;
    align-items: center;
}


/*Styles for login page*/
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-label {
    width: 280px;
    text-align: left;
}

.login-btn {
    margin-top: 24px;
    width: 280px;
    align-items: center;
}

.remember-me-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    margin-top: 24px;
    span {
        margin-left: 8px;
    }
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 16px;
}

.product-card {
    width: 24%;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 8px;
}

/*Styles for user-profile page*/
#user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-label {
    width: 280px;
    text-align: left;
}

.user-profile-btn {
    margin-top: 24px;
    width: 280px;
    align-items: center;
}
